<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.blank? %>
 <%= link_to "Sign in" , "/auth/twitter" %>
<% else %>
<%= "Welcome " + current_user.name + ","%> <%= link_to "Signout" , account_signout_path(:account_id => current_user.id) %>
<% end  %>

<%= yield %>

</body>
</html>
