<h1>Listing accounts</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Pass</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.uid %></td>
        <td><%= account.name %></td>
        <td><%= account.pass %></td>
        <td><%= link_to 'Scrape users', account %></td>
        <td><%= link_to 'Auto follow ', edit_account_path(account) %></td>
        <td>
        <%#= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to "Unfollow" , account_unfollow_path(:account_id => account.id ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
