<h1>Listing accounts</h1>
<% followers_count = 0 %>
<table>
  <thead>
    <tr>
      <th>SNo</th>
      <th>Account id</th>
      <th>Name</th>
      <th>Followers</th>
      <th>Following</th>
      <th>Celebrity</th>
      <th>Proxy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% count = 0 %>

    <% @accounts.each do |account| %>
        <% count = count + 1  %>
        <% client = twitter_client(account)  %>
        <% twitter_user = client.user(account.name)  %>
      <% if ![1,2].include? account.id  %>
         <% followers_count = followers_count + twitter_user.followers_count  %>
      <% end  %>
      <tr>
        <td><%= count %></td>
        <td><%= account.id %></td>
        <td><%= account.name %></td>
        <td><%= twitter_user.followers_count %></td>
        <td><%= twitter_user.friends_count %></td>
        <td><%= account.celebrities.last.handle %></td>
        <td><%= account.proxy %></td>
        <td><%= link_to 'Scrape users', account %></td>
        <td><%= link_to 'Auto follow ', edit_account_path(account) %></td>
        <td>
        <%#= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to "Unfollow" , account_unfollow_path(:account_id => account.id ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
               <hr>
<p>Total : <%= followers_count %></p>
<br>

<%= link_to 'New Account', new_account_path %>
